{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<div class="container">
    <h1>C'est moi qui modifie</h1>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/SymfonyDocs/student/introSymfo/src/Controller/TestController.php</code></li>
        <li>Your template at <code>D:/SymfonyDocs/student/introSymfo/templates/test/index.html.twig</code></li>
    </ul>
    <a href="{{ path('homepage') }}" class="btn btn-primary my-3">La page d'accueil</a>
</div>
{% endblock %}
